/* General */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

h1 {
	font-size: 2em;
	font-family: 'Open Sans', sans-serif;
	color: #412c27;
	padding: .5em 0 0 1em;
}

/* Mobile first design should start at 320px */


header {
	display: block;
	position: relative;
	overflow: hidden;
	background-image: url('../img/foliage-background.jpg');
	background-repeat: no-repeat;
	height: 400px;
	width: 100%;
}

.wrapper {
	height: 100%;
	position: relative;
	bottom: -20px;
}
/* Navigation */

#main-header,
#menu {
	display: flex;
	flex-direction: column;
	position: relative;
}

#hamburger img {
	height: 30px;
	position: absolute;
	top: 14px;
	right: 10px;
}

#menu {
	align-self: center;
	padding: 0;
	width: 100%;
}

#menu li {
	background: lemonchiffon;
	color:  #412c27;
	font-size: 1.2em;
	width: 95%;
	border-radius: 2px;
	padding: 8px;
	margin: 4px;
	text-align: center;
	align-self: center;
}

a {
	text-decoration: none;
}

#logo {
	height: 60px;
	background-color: #412c27;
	width: 100%;
	height: 60px;
	align-self: center;
	opacity: .95;
}

.header-name {
	font-family: 'Pacifico';
	font-size: 2.5em;
/*	color: #fee07e;*/
	color: lemonchiffon;
/*	text-align: center;*/
	vertical-align: middle;
	padding-left: 10px;
	line-height: 60px;       /* the same as div height */
	text-shadow: 1px 1px 2px #000, 0 0 0 #000, -1px -1px 2px #000;
	opacity: 1;
	z-index: 1;
}

#bio {
	opacity: .9;
	background-color: white;
	border-radius: 10px;
	margin: 20px;
	padding: 20px;
}

#bio p {
	opacity: 1;
	padding: 10px;
}

/* --- Skills ---*/

#skills {
	background-color: white;
}

#skills-container {
	display: flex;
	flex-direction: column;
}

.skill {
	display: inline-block;
	background-color: white;
	padding: 10px;
	margin-bottom: 10px;
}

.skill img {
	border-radius: 4px;
	width: 100%;
}

.skill-name {
	font-size: 1.2em;
	padding: 4px;
	font-weight: 600;
}

.skill-description {
	font-size: 1em;
	padding: 4px;
}

.divider-line {
	color: #412c27;
	width: 90%;
	margin: 20px auto;
}

/* -- Projects ---*/

#projects {
	background-color: #fff;
	width: 100%;
}

#projects-container {
	display: flex;
	flex-direction: column;
}

#projects h1 {
	display: block;
	width: 100%;
}

.project {
	min-height: 100px;
	min-width: 100px;
	margin: auto;
	padding: 20px;
	margin-bottom: 10px;
	background-color: white;
}

.project-title {
	font-size: 1.2em;
	padding: 4px;
	font-weight: 600;
}

.project-image img {
	max-width: 100%;
	margin: auto;
	border-radius: 8px;
	border: 16px solid black;
}

.project-description {
	padding: 4px;
}

.project-skills {
	background: pink;
	display: inline-block;
	border-radius: 4px;
	padding: 5px;
	margin: 2px;
}

/* --- Footer --- */

#contact {
	background-color: lemonchiffon;
	padding: 14px;
}

#contact-heading {
	text-align: center;
	font-size: 1.5em;
}

#contact p {
	font-size: 1em;
	margin: .5em;
	text-align: center;
}

#social-media-icons {
	display: flex;
	justify-content: center;
}

.social-media {
	display: inline-block;
}

.social-media img {
	height: 30px;
	margin: 10px 5px;
}

.social-media img:hover {
	opacity: .8;
}

/* ----- MEDIA QUERIES ----- */

@media screen and (min-width: 769px) {

	#main-header,
	#menu {
		display: flex;
		flex-direction: row;
		height: auto;
	}


#menu li {
	color: lemonchiffon;
	background:  #412c27;
}

	#logo {
		margin-right: auto;
	}

	#hamburger {
			display: none;
	}

	#bio {
		width: 50%;
	}

	#skills-container,
	#projects-container {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: flex-start;
		align-content: space-between;
		padding: 0;
		margin: 0;
	}

	.skill,
	.project {
		margin: auto;
		min-width: 26%;
		max-width: 45%;
	}

	.skill {
		height: 350px;
	}

	.project {
		height: 450px;
		margin-top: 20px;
	}
}

@media screen and (min-width: 1000px) {

	.skill,
	.project {
		margin: auto;
		max-width: 30%;
	}

	#contact-text {
		width: 50%;
		margin: auto;
	}

}
