/* Mobile first design should start at 320px */

h1 {
	font-size: 2em;
	font-family: 'Open Sans', sans-serif;
	color: #412c27;
}

#logo-background {
	display: inline-block;
	background-color: #412c27;
	position: relative;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 13% 100%);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 13% 100%);
	border-radius: 10px;
	width: 300px;
	height: 60px;
}

#header-name {
	position: relative;
	font-family: 'Pacifico';
	font-size: 2.5em;
	color: #fee07e;
	display: inline-block;
	text-shadow: 1px 1px 2px #000, 0 0 0 #000, -1px -1px 2px #000;
	margin-left: 50px;
	margin-top: 8px;
}

#container {
	display: block;
	position: relative;
/*	overflow: hidden;*/
	background-color: green;
}
/* For decreasing background image opacity */

#container::after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	z-index: -1;
	opacity: 0.6;
	background-image: url('../img/foliage-background.jpg');
	background-repeat: no-repeat;
/*	background-position: 50% 0;*/
/*
	-ms-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
*/
/*	background-size: cover;*/
}

#skills {
	background-color: azure;
}

.skill {
	border: 1px solid purple;
	display: inline-block;
}

#projects {
	background-color: lavender;
}

.project {
	border: 1px solid red;
	min-height: 100px;
	min-width: 100px;
	display: inline-block;
}

#contact {
	background-color: lemonchiffon;
}

.social-media {
	display: inline-block;
	border: 1px solid orange;
}
