/* General */

* {
	box-sizing: border-box;
}

li {
	list-style: none;
}

h1 {
	font-size: 2em;
	font-family: 'Open Sans', sans-serif;
	color: #412c27;
}

/* Mobile first design should start at 320px */

/* Navigation */

#main-header,
#menu {
	display: flex;
	flex-direction: column;
}

#menu {
	align-self: center;
	padding: 0;
}

#menu li {
	background: lightblue;
	font-size: 1.2em;
	width: 80px;
	border-radius: 2px;
	padding: 2px;
	margin: 2px;
	text-align: center;
}

a {
	text-decoration: none;
}

#logo {
	border: 1px solid green;
	height: 60px;
	background-color: #412c27;
	border-radius: 10px;
	width: 280px;
	height: 60px;
	align-self: center;
}

.header-name {
	font-family: 'Pacifico';
	font-size: 2.5em;
	color: #fee07e;
	text-align: center;
	vertical-align: middle;
	line-height: 60px;       /* the same as div height */
	text-shadow: 1px 1px 2px #000, 0 0 0 #000, -1px -1px 2px #000;
}

#container {
	display: block;
	position: relative;
/*	overflow: hidden;*/
	background-color: green;
}
/* For decreasing background image opacity */

#container::after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	z-index: -1;
	opacity: 0.6;
	background-image: url('../img/foliage-background.jpg');
	background-repeat: no-repeat;
}

#skills {
	background-color: azure;
}

.skill {
	border: 1px solid purple;
	display: inline-block;
}

#projects {
	background-color: lavender;
	display: flex;
}

.project {
	border: 1px solid red;
	min-height: 100px;
	min-width: 100px;
	max-width: 90%;
	margin: auto;
	display: inline-block;
}

.project-title {
	font-size: 1.2em;
}

.project-image img {
	max-width: 90%;
	margin: auto;
	border-radius: 3px;
}

.project-skills {
	background: pink;
	display: inline-block;
	border-radius: 4px;
	padding: 4px;
	margin: 2px;

}

#contact {
	background-color: lemonchiffon;
}

.social-media {
	display: inline-block;
	border: 1px solid orange;
}
/* ----- MEDIA QUERIES ----- */

@media screen and (min-width: 769px) {

	#main-header,
	#menu {
		display: flex;
		flex-direction: row;
	}

	#logo {
		margin-right: auto;
	}
}
